<div class="container content">

  <div class="row">
  {{#if articles }}
    {{#each articles }}
    <div class="col-lg-3 col-sm-12">
      <div class="card text-center {{ this.class }}">
        <div class="card-block">
          <blockquote class="card-blockquote">
            <h3>{{ this.title }}</h3>
            <footer>
              <a href="{{ this.link }}" target="_blank" alt="{{ this.title }}">
                <button class="btn btn-lg btn-primary">Read More</button>
              </a>
              <button class="btn btn-lg btn-secondary">
                <a href="{{ this.link }}" target="_blank" alt="{{ this.title }}">Comments</a>
              </button>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
    {{/each}}
  {{/if}}
  </div>

</div>
